.column-drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px 45px 5px 5px;
}

.columns{
    display: flex;
    overflow-x: auto;
    gap: 1em;
    padding: 0 50px 50px 50px;
  }
  
  .column{
    flex: 0 0 auto;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    height: fit-content;
    max-height: calc(100vh - 215px);
    margin: 0 1em 0 0;
  }

  .column header{
    cursor: pointer;
    position: relative;
  }

  .column header::after{
    content: '';
    position: absolute;
    background: url(../../../src/drag.png) no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    right: 0;

  }
  
  .column header,
  .column footer{
    height: 32px;
    line-height: 32px;
  }
  
  .column .card-list{
    padding: 0;
    overflow-y: scroll;
    max-height: calc(100vh - 300px);
  }
  
  .column .card-item{
    background-color: #d7d7d7;
    padding: 0 8px;
    margin: 1em 0;
    border-radius: 4px;
    cursor: pointer;
  }

  .column .card-item p{
    padding: 8px 0;
  }

  .card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg) 
  }
  
  .card-ghost-drop{
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg)
  }

  .card-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
  }