body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2em;
}

.header{
  display: flex;
  justify-content: center;
  padding: 15px 50px;  
}

.container{
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 50px 1fr;
}

.board{
  height: calc(100vh - 180px);
  background-color: #ffdf83;
  padding: 50px;
}


